* {
    --main-color: #5086c1;
}
body {
    background-color: var(--main-color);
    font-family: 'Comic Sans MS';
}
header {
    color: #fff;
    width: 80%;
    margin: 0 auto;
}
header .titulo-principal{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
header .descripcion-principal {
    font-size: 1.1em;
    text-align: center;
}


.tarjeta {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;    
    margin-bottom: 20px;
}
/* Sobre mi */

.foto-perfil{
    width: 8em;
    height: 10em;
    float: left;
}
.foto-perfil img {
    width: 100%;
    height: 100%;
    
}
article .perfil-profesional {
    margin-left:10em;
    min-height: 10em;
    max-height: 20em;
    
}

/* Tarjeta de proyecto */
